{% extends 'base.html.twig' %}



{% block create_match %}
    <div class="container" style="text-align: center;">
        <h2>Create new match</h2><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}