{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin: 20px 0;">
            <h1 style="text-align: center">List of matches</h1>
            <a class="btn btn-default" href="/logout">Log out</a>
            <a class="btn btn-primary" href="/create" style="float: right">Add new match</a>
            <div class="row" style="margin: 20px 0;">
                <table id="dataTable" class="display">
                    <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Home Team</th>
                            <th>Result</th>
                            <th>Result2</th>
                            <th>Guest Team</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#dataTable tfoot th').not(":eq(5),:eq(6)").each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control" placeholder="Search '+title+'" />' );
            } );
            var table = $('#dataTable').DataTable({
                data: {{ matches | json_encode(constant('JSON_PRETTY_PRINT')) | raw }},
                columns: [
                    { title: "Date",  data: 'date' },
                    { title: "Home Team", data: 'homeTeam' },
                    { title: "Result", data: 'scored1', "render": function(data,type,row,meta){
                        if (row.scored1 == null && row.scored2 == null){
                            var res = "? : ?";
                        }
                        else {
                            var res = row.scored1 + " : " + row.scored2;
                        }
                        return res;
                    }},
                    { title: "Result2", data: 'scored2', visible: false },
                    { title: "Guest Team", data: 'guestTeam' },
                    { title: "Edit", data: 'id',
                        "render": function(data,type,row,meta) {
                            var a = "<a href='/edit/"+row.id+"'><i class='fa fa-edit'></i>Edit</a>";
                            return a;
                        }
                    },
                    { title: "Delete", data: 'id',
                        "render": function(data,type,row,meta) {
                            var a = "<a href='/delete/"+row.id+"'><i class='fa fa-edit'></i>Delete</a>";
                            return a;
                        }
                    }
                ],
                pageLength: 15,
                lengthMenu: [ 15, 25, 50 ]
            });

            table.columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that.search( this.value ).draw();
                    }
                } );
            } );
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        td, th {
            text-align: center!important;
        }
    </style>
{% endblock %}