<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Email notification</title>
    </head>
    <body>
        <p>Здравствуйте уважаемый <strong>{{ username }}</strong>,</p>
        <p>Напоминаем Вам, что сегодня состоится матч с участием Вашей команды:</p>
        <h2>{{ team1 }} - {{ team2 }}</h2><br>
        <p>Приятного просмотра!</p>
    </body>
</html>

